*, **::before, **::after {
  box-sizing: border-box;
}
*{
  margin: 0;
  padding: 0;
}
html{
  color-scheme: dark light;
}
img, picture, svg, video {
  display: block;
  max-width: 100%;
  height: auto;
}
input, textarea, button, select{
  font: inherit;
}

:root {
  --clr-blue: #1073BA;
  --clr-green: #00DA55;
  --clr-grey: #3B3B3B;
  --clr-black: #1F1E1E;
  --clr-light-grey: #E1E1E1;
  --clr-white: #FFFFFF;

  --divider: 3.125rem;

  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Lato', sans-serif;

}

body{
  font-family: var(--primary-font);
  line-height: 1.5;
}

/** Global **/
.container {
  max-width: 75rem;
  width: 90%;
  margin: 0 auto;
}

h1, h2, h3 {
  font-weight: 900;
  font-family: var(--secondary-font);
  margin: calc(var(--divider) / 2) 0;
}
h1 {
  font-size: 2.75rem;
}
h2 {
  font-size: 2.25rem;
}
h3{
  font-size: 1.75rem;
}

/** Utilities**/
.text-center{
  text-align: center;
}

/** Degraded **/
.green-degraded{
  color: transparent;
  background: linear-gradient(to right, var(--clr-blue) 0%, var(--clr-green) 100%);
  -webkit-background-clip: text;
  background-clip: text;
}